/* Base styling */

* {
     box-sizing: border-box; 
  }
  
  body{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  section,
  article {
    margin: 0;
    padding: 1rem;
  }

  nav {
      display: flex;
      justify-content: space-between;
      padding-left: 1rem;
      padding-right: 1rem;
      align-items: baseline;
      box-shadow: 0 10px 5px #888888

  }

  main {
      margin: 0 15%;
      margin-top: 4rem;
  }
  form {
      
      display: flex;
      flex-direction: column;
  }


  #title {
      width: 40%;
      border-radius: 7px;
      margin-bottom: 1rem;
  }

  textarea {
    border-radius: 7px;
    height: 150px;
    
  }

  label {
      margin-bottom: 1rem;
      font-weight: bold;
  }

  #btn {
      width: 7rem;
      padding: 0.5rem;
      border-radius: 7px;
      margin-top: 1rem;
      background-color:rgb(40, 190, 140);
      color: white;
      border:rgb(40, 190, 140);
  }
  
  div {
      display: flex;
      justify-content: right;
  }

  #artbtn {
    background-color:rgb(40, 190, 140);
    color: white;
    border:rgb(40, 190, 140);
    border-radius: 7px;
    float: right;
    padding: 0.3rem;
    width: 5rem;
      
  }



  h2{
      display: block;
  }

  #artikkel {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      
  }

  article {
      width: 30%;
      box-shadow: 1px 5px 4px 4px #d2f1f1;
      border-radius: 3px;
  }

  
 


  
  /* Add styling */
  